<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Brand Images</h3>
          </div>
          <form action="/brand-images/getimagedata" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Brand</label>
                    <select class="form-control" id="brand_id" name="brand_name">
                      <option value="">Select Brand</option>
                      <% for(let i=0; i<data.length;i++) {%>
                        <option value="<%= data[i] %>"><%= data[i] %></option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" multiple="multiple">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Catformegory</label>
                    <select class="-control" id="category_id" name="category">
                      <option value="">Select Category</option>
                      <% for(let i=0; i<category.length;i++) {%>
                        <option value="<%= category[i] %>"><%= category[i] %></option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" id="description" name="description">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Product Category</label>
                    <select class="form-control" id="productCategory_id" name="productCategory">
                      <option value="">Select Category</option>
                      <% for(let i=0; i<productCategory.length;i++) {%>
                        <option value="<%= productCategory[i] %>"><%= productCategory[i] %></option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" id="title" name="title">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="submit" value="Post">
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </form>
          <!-- /.card-header -->
          <!-- form start -->
          <!-- drop down -->
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6"></div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <div class="col-md-12">
        <div class="card-body  ">
          <table id="example3" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 20%">Brand Name</th>
                <th style="width: 20%">Category</th>
                <th style="width: 20%">Description</th>
                <th style="width: 20%">Title</th>
                <th style="width: 20%">Image</th>
                <th style="width: 20%">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- /.container-fluid -->
</section>
<!-- /.content -->
